.marquee {
    display: flex;
    white-space: nowrap;
    /* border: 1px solid blue; */
    overflow: hidden;
}

.marquee span {
    border: 1px solid red;
    display: flex;
    margin-right: 2rem;
}

button {
    padding: 10px 20px;
}